#mainHeader {
    background-image: url("../images/image1.jpg");
    background-repeat: no-repeat;
}
.c-item {
    height: 750px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
#Intro{
    ............................................
    text-align: justify;
}

#lobbyImg{
    display: -webkit-box;
    margin-left: 115px;
    height: 670px;
    width: 447px;
}

#team{
    height: 355px;
    width: 355px;
    position: static;


    object-fit: cover;

}