#mainHeader {
    background-image: url("../images/image1.jpg");
    background-repeat: no-repeat;
}
.c-item {
    height: 750px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
