#aboutUs{
    text-align: justify;
}

#aboutHeadings{
    color: #023047;
}
#regPage {
    background-image: url("../images/city.jpg");
    background-size: cover;
    backdrop-filter: blur(3px);
    height: 90vh;
}

/*homepage*/
.c-item {
    height: 750px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
/*About Us page*/
#Intro{
    ............................................
    text-align: justify;

}

#lobbyImg{
    display: -webkit-box;
    margin-left: 115px;
    height: 670px;
    width: 447px;
}

#team{
    height: 355px;
    width: 355px;
    position: static;
    object-fit: cover;

}

#FormHeader{
    text-align: center;
    color: #023047;
    font-weight: bold;
}

.main {
    margin:auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.main {
    position:sticky;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

}

.main .form {
    margin-top: 30px;
}
.form .input-box {
    width: 100%;
    margin-top: 20px;
}
.input-box label {
    color: #333;
}
.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
    display: flex;
    column-gap: 15px;
}

.form button {
    height: 40px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

/*Responsive*/
@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
}

